build/
*.o
*.so
*.a
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
*.8
*.1
coverage/
coverage.info
coverage.info.cleaned
*.profraw
*.profdata
*.gcno
*.gcda
_codeql_detected_source_root
